<!doctype html>
<html>
<head>
	<title>Filter Design</title>
</head>
<body>
	 <form action="/filteroutput" method="POST">
		  <input type="radio" name="filter" value="Bessel" checked> Bessel<br>
		  <input type="radio" name="filter" value="Butterworth"> Butterworth<br>
		  <input type="radio" name="filter" value="Chebyshev"> Chebyshev <br>
		  Filter order <br>
		  <input type="text" name="order" > <br>
		  Cut-off frequency <br>
		  <INPUT TYPE="text" NAME="cutoff" SIZE=8 > 
		  <select name="funits">
			<option>MHz
			<option>KHz
			<option>Hz
		  </select><br>
		  <SELECT NAME="FilterResponse">
			<OPTION>Lowpass
			<OPTION>Highpass
		  </SELECT><br>
		  
		  <input type="Submit">
	</form> 
	
	
</body>	
</html>
